    body {
    }

    li {
        list-style-type: none;
    }

    .clearfix::after {
        content: '';
        display: block;
        clear: both;
        height: 0px;
        visibility: hidden;
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
       will truncate terms that are too long to fit in the left column 
    */
    .dl-horizontal dt {
        white-space: normal;
    }

    .card-wrap {
        perspective: 500px;
    }

    .header {
        background: #000;
    }


    /* CARD */

    .bookCard {
        position: relative;
        height: 350px;
        border-radius: 15px;
        overflow: hidden;
        transition: 0.3s;
        box-shadow: 10px 10px 15px 5px #ccc;
        cursor: pointer;
        margin-left: 30px; margin-bottom: 30px;
    }

    .bookCard:hover {
        box-shadow: 10px 10px 15px 5px #eee;
    }
    
    .bookCard:active {
        transform: perspective(300px) scale3d(0.9, 0.9, 0.9);
    }

    .bookCard > img {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        min-height: 350px;
        filter:opacity(30%);
        z-index: 60;
    }

    .bookCard .card-text {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        left: 0; top: 0;

        box-sizing: border-box;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    p.genre {
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    p.title {
        font-size: 23px;
        font-family: 'Charm', cursive;
        font-style: italic;
    }

    p.author {
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        color: #e26a23
    }


/* SCROLLBAR */
input,
select,
textarea {
    max-width: 280px;
}

    input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;

    }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 12.8px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            background: #858585;
            border-radius: 25px;
            border: 0px solid #000101;
        }

        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid #000000;
            height: 20px;
            width: 39px;
            border-radius: 7px;
            background: #7a7a7a;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -3.6px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ac51b5;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 12.8px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            background: #ededed;
            border-radius: 25px;
            border: 0px solid #000101;
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid #000000;
            height: 25px;
            width: 10px;
            border-radius: 7px;
            background: #428BCA;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 12.8px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            border-width: 39px 0;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower {
            background: #ac51b5;
            border: 0px solid #000101;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }

        input[type=range]::-ms-fill-upper {
            background: #ac51b5;
            border: 0px solid #000101;
            border-radius: 50px;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }

        input[type=range]::-ms-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid #000000;
            height: 20px;
            width: 39px;
            border-radius: 7px;
            background: #65001c;
            cursor: pointer;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #ac51b5;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #ac51b5;
        }

