@{
    ViewBag.Title = "Home Page";
}

<div class="index-wall">
    <div class="menu container">
        <div class="logo">
            <a href="#"><h3>Books</h3></a>
        </div>
        <div class="nav">
            <ul>
                <li><a class="active-link" href="#">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">AddBook</a></li>
            </ul>
        </div>
    </div>

    
    <h1 class="quot">“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.” </h1>
    <div class="q-info">
        <img class="q-img" src="~/Content/Images/haruki.jpg" alt="Alternate Text" />
        <span class="q-aut">Haruki Murakami</span>
    </div>

    <div class="divider"></div>

    <h4>That's simple!</h4>

    <div class="guids">
        <ul>
            <li>
                <div>
                    <span>Choose book</span>
                    <div class="number">1</div>
                </div>
            </li>
            <li>
                <span>then</span>
            </li>
            <li>
                <div>
                    <span>Buy book</span>
                    <div class="number">2</div>
                </div>
            </li>
            <li>
                <span>then</span>
            </li>
            <li>
                <div>
                    <span>Read book</span>
                    <div class="number">3</div>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="main">
    <h3>Favourites</h3>
    <div class="divider"></div>

    <div class="book container">
        <div class="aut-img">
            <img src="~/Content/Authors/Lev_Tolstoi.jpg" alt="" />
        </div>
        <div class="book-info">
            <h4 class="title">Voyna i Mir</h4>
            <h5>Lev Tolstoi</h5>
        </div>
    </div>
</div>